/* MDN - The font-display descriptor for the @font-face at-rule determines 
how a font face is displayed based on whether and when it is 
downloaded and ready to use. */

/* Keuze voor font-display optional:
Voor als prestaties de absolute prioriteit zijn 
en je bereid bent het webfont helemaal over te slaan als het 
laden te lang duurt. Ideaal voor extreem snelle laadtijden 
en low-bandwidth situaties. */

@font-face {
  font-family: "NSSans";
  src: url("/fonts/nssans-bolditalic\ 1.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NSSans";
  src: url("/fonts/nssans-regular\ 1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NSSans";
  src: url("/fonts/nssans-italic\ 1.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NSSans";
  src: url("/fonts/nssans-bold\ 1.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NSSans";
  src: url("/fonts/nssans-demi\ 1.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a {
  font-family: "NSSans";
  font-weight: bold;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  --ns-yellow: #ffc917;
  --ns-darkBlue: #003082;
  --ns-lightBlue: #0063d3;
  --ns-selectedGreen: #00a888;
  --ns-lightGray: #c4c5cb;
  --ns-transparentGray: rgba(164, 164, 164, 0.25);

  padding: 0;
  margin: 0;

  --spacing-xs: clamp(0.5rem, 1vw, 1rem);
  --spacing-sm: clamp(1rem, 1vw, 1.5rem);
  --spacing-md: clamp(1.5rem, 1vw, 2rem);
  --spacing-lg: clamp(2rem, 1vw, 2.5rem);
  --spacing-xl: clamp(2.5rem, 1vw, 3rem);

  --heading-xl: clamp(1.5rem, 3vw, 2rem);
  --heading-l: clamp(1.1rem, 2.5vw, 1.5rem);
  --heading-md: clamp(1rem, 2.5vw, 1.25rem);

  --font-NS: "NSSans";
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */

h2 {
  font-size: var(--heading-xl);
  font-weight: normal;
  font-style: normal;
  font-family: var(--font-NS), sans-serif;
  text-align: center;
  padding: var(--spacing-sm);
  color: var(--ns-darkBlue);
}
h3 {
  font-size: var(--heading-l);
  font-weight: normal;
  font-style: normal;
  font-family: var(--font-NS), sans-serif;
}

section {
  background-color: var(--ns-yellow);
}

header {
  font-family: "NSSans", sans-serif;
  font-weight: bold;

  color: var(--ns-darkBlue);
  background-color: white;
  padding: var(--spacing-sm);
  gap: var(--spacing-xs);

  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
}


form > div{
  border: none;
  border-bottom: 3px solid #ffc917;
  padding-bottom: 1rem;
  background-color: #00000017;
  padding: var(--spacing-md);
}


input {
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0 #fff;
  color: #003082;
  text-overflow: ellipsis;
  border: none;
  padding: .5rem;
}





/* ----------- */
/* Hero stuk */
/* ----------- */
body section:first-of-type {
  width: 100dvw;
  height: 24dvh;
  padding: 0;
  padding-bottom: .5rem;
}

body section:first-of-type img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ----------- */
/* Form basic flex */
/* ----------- */

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-family: "NSSans", sans-serif;
  width: 100%;
  max-width: 530px;
  place-self: center;
}

input{
  width: fit-content;
  max-width: max-content;
}

form div:nth-of-type(3) label{
  display: flex;
  flex-direction: column;
}






form div:nth-last-of-type(2) fieldset div div{
  display: flex;

  & label:first-of-type{
    width: 20%;
  }

  &  label:last-of-type{
    width: 20%;
  }

  label{
    display: flex;
    flex-direction: column;
  }
}





form div:nth-of-type(5) div{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

form div:nth-of-type(5) div label{
  display: flex;
  flex-direction: row;    
  align-items: center;
}

form div:nth-of-type(4) legend,
form div:nth-of-type(5) legend{
  padding-bottom: 1rem;
}

form div:nth-of-type(5) {

  & label{
  gap: .5rem;
  }

  & fieldset:last-of-type {
  margin-bottom: 2rem;

    &> div{
      display: flex;
      flex-direction: column;
    }
  }
}

.bedrijfsVragen{
  margin-top: 2rem;

  & label{
    display: flex;
    flex-direction: column;
  }
}


form > div{
  width: 90%;
  place-self: center;
}


select{
  border-radius: 0.25rem;
  border: none;
}

form div:nth-of-type(2) fieldset input{
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
  }
}

form div:nth-of-type(2) fieldset div{
position: relative;
  display: grid;
  grid-template:
    'label1 label2'
    'input1 input2'
    'label3 label3'
    'input3 input3';
  /* background-color: red; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;


  /* & label{
    display: flex;
    flex-direction: row;
  } */
  
}


form div:nth-of-type(2) fieldset{
  padding-bottom: 1em;
}

@media screen and (min-width: 380px) {
  form div:nth-of-type(2) fieldset div{
    position: relative;
      display: grid;
      grid-template:
        'label1 label2 label3'
        'input1 input2 input3';
      /* background-color: red; */
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      
    
    
      /* & label{
        display: flex;
        flex-direction: row;
      } */
      
    }
  
}




#day1 {
  grid-area: input1;
}

label:has(+ input:user-valid)::before {
  color: green;
  content: "✔️";
}


label:has(+ input:user-valid)
  ~ label:has(+ input:user-valid)
  ~ label:has(+ input:user-valid)::after {
    color: var(--ns-selectedGreen);
    content: "3/3 | Valide Datum";
    position: absolute;
    right: 0;
    top: 118%;
    scale: 1;
} 


#month1 {
  grid-area: input2;
}

#year1 {
  grid-area: input3;
}

label:nth-of-type(1){
  grid-area: label1;
}

label:nth-of-type(2){
  grid-area: label2;
}

label:nth-of-type(3){
  grid-area: label3;
}


/* form div:nth-of-type(2) fieldset div{

  


  & label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  & div:first-of-type{
    display: flex;
    gap: 1rem;
  }
}

 */








@media  screen and (min-width: 440px) {

  label:has(+ input:user-valid) ~ label:has(+ input:user-valid) ~ label:has(+ input:user-valid)::after {
    content: "Datum is valide ingevuld";
    position: absolute;
    right: 0%;
        top: 110%;
}


  form div:nth-of-type(2) fieldset div{
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    }


  form div:nth-of-type(5) {



    & fieldset:last-of-type {
    margin-bottom: 0rem;
  
      &> div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}



@media  screen and (min-width: 550px) {
  body section:first-of-type {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}
  
}















/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */


/* .eerste_styling {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: auto;
  flex-direction: column;
  gap: var(--spacing-xl);

  padding: var(--spacing-lg);

  & h2{
    color: var(--ns-darkBlue);
  }

  & div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  /* & input {
    min-width: 3rem;
  } */
 /* }  */


form:first-of-type input[type="number"],
form:first-of-type input[type="tel"],
form:first-of-type input[type="email"] {
  /* padding: var(--spacing-xs);
  font-size: 1rem; */

  box-sizing: border-box;
  outline: 0px solid red;

  &:valid {
    color: var(--ns-lightBlue);
    background: var(--ns-transparentGray);
    outline: 0px solid red;
  }

  &:user-invalid {
    color: red;
    background: var(--ns-lightGray);
    outline: 1px solid red;
  }
}

form div:nth-of-type(3) fieldset label:last-of-type::after{
  opacity: 0;
  content: "Gebruik een geldig format: met naam@domein";
  margin-top: 2%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
} 

form div:nth-of-type(3) fieldset label:first-of-type::after{
  opacity: 0;
  content: "Gebruik een geldig format: 06.. of 06-..";
  margin-top: 2%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
} 

form div:nth-of-type(3) fieldset label:last-of-type:has(:user-invalid)::after{
  color: red;
  content: "Gebruik een geldig format: met naam@domein";
  width: 100%;
  opacity: 1;
  margin-top: 2%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
} 

form div:nth-of-type(3) fieldset label:first-of-type:has(:user-invalid)::after{
  color: red;
  content: "Gebruik een geldig format: 06.. of 06-..";
  width: 100%;
  opacity: 1;
  margin-top: 2%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
} 

select {
  padding: var(--spacing-xs);
  box-sizing: border-box;
  outline: 0px solid red;
  width: 100%;
  max-width: 250px;
}

/* input[type="tel"],
input[type="email"] {
  padding: var(--spacing-xs);
  font-size: 1rem;
} */

.bedrijfsVragen fieldset div {
  flex-direction: column;
}

/* .date_uservalid_wrapper{

    & div:first-of-type:has(label:has(:user-valid)) {
      color: green;
    }
} */


form > div:nth-of-type(2) label:has(:user-valid)
  ~ label:has(:user-valid)
  ~ label:has(:user-valid)::after {
    color: var(--ns-selectedGreen);
    content: "Volbracht";
    position: absolute;
    right: 10%;
    top: -33%;
} 

form div:first-of-type label:user-valid::after {
  color: rgba(0, 128, 0, 0);
  content: " ";
}

label:user-valid::after {
  color: green;
  content: "✅";
}

form div:first-of-type fieldset label::before {
  color: rgba(0, 128, 0, 0);
  content: " ";
}
/* label:has(input[type="number"]),
label:has(input[type="tel"]),
label:has(input[type="email"]) {
  display: flex
;
    /* gap: 1rem; */
    /* justify-content: center;
    align-items: start;
    width: fit-content;
    flex-direction: column; */
/* } */ */



/* legend {
  font-weight: 600;
    color: #003082;
    border-left: 3px solid var(--ns-yellow);
    padding-bottom: 0;
    padding-left: .5em;
    margin-bottom: 1em;
} */
/* 
fieldset {
  gap: var(--spacing-xs);
} */

fieldset[hidden],
form[hidden] {
  display: none;
}

/* body section:first-of-type {
  padding: var(--spacing-lg);
} */

/* body > section {
  background-color: #f1f6ff;
} */




/* @media screen and (max-width: 580px) {
  body section:first-of-type {
    --spacing-lg: 0.5rem;
  }
  .eerste_styling {
    & div {
      display: flex;
      gap: 0;
      align-items: start;
      flex-direction: column;
    }
  }
} */

/* @media screen and (min-width: 280px) {
  body section:first-of-type {
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 2.5rem;

    --heading-xl: 1.6rem;
    --heading-l: 1.5rem;
    --heading-md: 1.2rem;
  }
} */


.general-value,
.private-value,
.general-debt,
.private-debt,
.funeral-expenses-styling {
  display: flex
;
    flex-direction: column;
    gap: var(--spacing-sm);
  border: none;
    border-bottom: 3px solid #ffc917;
    padding-bottom: 1rem;
    background-color: #00000017;
    padding: var(--spacing-md);
    width: 90%;
    place-self: center;
}

.funeral-expenses {
  margin-top: 2rem;
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */



input[type="radio"] {
  outline-color: var(--ns-selectedGreen);
}

:disabled {
  /* display: none; */
  background-color: red;
}

/* label::before {
  content: "✓";
  opacity: 0;
} */

/* --------------------------- */





input[type="radio"] {
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: white;
  /* Not removed via appearance */
  margin: 0;

  width: 24px;
  height: 24px;

  font: inherit;
  color: white;
  outline: 2px solid var(--ns-lightGray);
  border-radius: 50%;

  /* voor in het midden zetten placecontent en grid */
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform cubic-bezier(0.2, 0.9, 0.4, 1);
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: var(--ns-selectedGreen);
}

/* label {
  display: flex;
  gap: 1rem;
} */

/* 
accent-color voor checkbox radio en range en progress */

fieldset {
  border: none;
}

fieldset label{
  & input{
    margin-top: 1em;
  }
}

/* 
div -internal-datetime-container{
  padding: 0.5rem;
  background-color: var(--ns-lightGray);
} */

/* -webkit-datetime-edit-text */


input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked {
  outline: 1px solid var(--ns-selectedGreen);
  transition: 120ms cubic-bezier(0.2, 0.9, 0.4, 1);
}

input[type="radio"]:focus {
  outline: max(2px) solid var(--ns-darkBlue);
  transition: cubic-bezier(0.2, 0.9, 0.4, 1);
}
/* ---------------------- */

#bedrijfsVragen {
  transition: height 0.4sease-out, display 0.4sease-out;
  transition-behavior: allow-discrete;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  @starting-style {
    height: 0;
  }

  &[hidden] {
    transition-duration: 0.2s;
    height: 0;
  }
}

/* ---------------------- */

/* '+' als css combinator om het volgende element te selecteren */
label:has(input:user-valid) {
  /* background-color: rgba(144, 238, 144, 0.181); */
  color: rgb(69, 69, 69);

  &::before {
    content: "✓";
    color: green;
    opacity: 1;
    transition: 2000ms;
  }
}

label:has(input) {
  &::before {
    content: "✗";
    color: gray;
    opacity: 0;
    transition: 2000ms;
    width: 1rem;
  }
}

/* --------------- */
/* FORMULE GEDEELTE */
/* --------------- */


.balance-inheritance{

  div > p{
    text-align: center;
    padding-bottom: var(--spacing-md);
    font-style: italic;
  }

  label:has(input[type="number"]){
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    width: fit-content;
    flex-direction: column;

    position: relative;
    &::before{
      content: "€";
      font-weight: 600;
      position: absolute;
      bottom: 12%;
      left: .75rem;
      opacity: 1;
    }

    &:has(input[name="authorized-persons"]) {
      &::before {
        content: "";
      }
 
      & input {
        padding-left: 0.75rem;
      }
    }
    
  }
  & label input[type="number"]{
    padding-left: var(--spacing-lg);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      display: none;
    }
  }
}








/* .fieldAnimation {
  transition: height 0.4s ease-out;
  height: auto;
  overflow: hidden;

  @starting-style {
    height: 0;
  }
} */

/* #overig_el {
  opacity: 0;
} */

/* label:has([name="overig_comp_cat"]:checked) + input {
  opacity: 1;
} */

/* div {
  position: fixed;
  bottom: 0;
} */

/* fieldset:invalid {
  background-color: gray;
  border: 1px solid red;
} */

/* field-sizing: content;
for text area die groter worde adv tekst content*/

/* 
textarea[rows="4"]{
} */

/* <select>
  <optgroup>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </optgroup>
</select>
<hr>
 */

/* <output.value="1"></output>
voor uitrekenen values */

/* <progress>
of <meter>
voor progressiebalken/meters */

/* grayout gedeelte van de select experiment met de vink overig */
/* fieldset select:has(+ label:has([name="overig_comp_cat"]:checked)) {
  user-select: none;
  background-color: gray;
  color: lightslategray;
  outline: 2px red;
} */
